* {
    box-sizing: border-box;
}

.page-container {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    background-color: #f4f7f8;
    overflow: visible;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.flex-container.hidden {
    display: none;
}

.item {
    margin: 30px 2px;
    padding: 0;
    width: 0;
    height: 138px;
    max-width: 94px;
    background-color: white;
    color: #1f1f1f;
    font-family: monospace;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    flex: 1;
    border-radius: 6px;
    box-shadow: 0 3px 3px #e7ecee;
    cursor: pointer;
}

.item.selected {
    background-color: #407fb6;
    color: white;
}

.item:hover {
    box-shadow: 0 6px 3px #d8dee0;
}

.initial {
    flex: initial;
}

.auto {
    flex: auto;
}

table {
    width: 100%;
}

thead {
    background-color: #f4f7f8;
}

table,
th,
td {
    border: 1px solid #f4f7f8;
    border-collapse: collapse;
    padding: 10px;
}

tr {
    height: 50px;
}

th,
td {
    border-bottom: 1px solid #e1e5e6;
}

.cell-center {
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0 10px;
    font-size: large;
    height: 40px;
    min-width: 70px;
}

.offline {
    color: #757575;
}

.results-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.card {
    border: 2px solid #407fb6;
    width: 47px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: large;
}

.cell-center.hidden .card {
    display: none;
}

.form-row {
    margin-bottom: 10px;
    min-width: 340px;
    max-width: 100%;
    display: flex;
    flex: 1;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

form * {
    flex: 1;
    align-self: stretch;
    width: 0;
    min-width: 0;
}

label {
    align-self: center;
    font-size: large;
}

input {
    flex: 2;
    font-size: large;
    padding-left: 10px;
}

.results-text {
    font-size: large;
}

.forms-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 20px;
}

.hide-items-bar {
    width: 100%;
    background-color: #e8ebec;
    color: #c4c7c8;
    text-align: center;
    cursor: pointer;
}

.hide-items-bar:hover {
    background-color: #d8dbdc;
}

.margin-left {
    margin-left: 20px;
}

.cell-center.hidden .margin-left {
    margin-left: 0;
}
